:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --icon-fill: #afb1b8;
  --section-padding: 94px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[href] {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.online__btn, .modal__btn-close, .form__field-checkbox, .check__text, .check__text span, .form__btn, .header__container, .site-nav, .site-list, .connection, .qualities-content__item, .team-social__link, .footer-social__link, .clients-list__link, .footer__form-subscribe {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__logo-1 {
  color: var(--accent-color);
}

.header__logo, .footer__logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.header__logo-2 {
  color: var(--title-text-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo-2 {
  color: var(--primary-white-color);
}

.hero__btn {
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--primary-white-color);
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

.online__btn {
  justify-content: center;
  padding: 10px 28px;
}

.portfolio__btn {
  background-color: var(--team-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  min-height: 38px;
  padding: 6px 22px;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  padding: 40px;
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.modal__btn-close__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__btn-close__icon:hover, .modal__btn-close__icon:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.input__text {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.input__wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:focus + .input__icon {
  fill: var(--accent-color);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  bottom: 11px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__text {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form__text:focus {
  border-color: var(--accent-color);
}

.form__text::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-checkbox {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  position: relative;
  justify-content: center;
}

.check__text-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.check__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  cursor: pointer;
}

.policy__icon {
  fill: transparent;
}

.policy__check:checked + .check__text span {
  border: none;
  background-color: var(--accent-color);
}

.policy__check:checked + .check__text .policy__icon {
  fill: var(--primary-white-color);
}

.form__btn {
  justify-content: center;
}

.form__btn-send {
  padding: 10px 55px 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container, .site-nav, .site-list {
  justify-content: center;
}

.site-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-list__link {
  display: block;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-list__link:hover, .site-list__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -32px;
}

.site-connect {
  display: flex;
  margin-left: auto;
}

.connection {
  color: var(--primary-text-color);
}

.connection:not(:last-child) {
  margin-right: 50px;
}

.site-list__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.site-list__link:hover .site-list__icon,
.site-list__link:focus .site-list__icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  text-align: center;
}

.hero__main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.qualities {
  padding-top: var(--section-padding);
}

.qualities-content {
  display: flex;
  justify-content: space-between;
}

.qualities-content__item {
  width: 270px;
  height: 120px;
  background-color: var(--team-color);
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.qualities-content__item + .qualities-content__item {
  margin-left: 30px;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -10px;
}

.qualities-list__item {
  margin-right: 30px;
  margin-bottom: 10px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.qualities-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.qualities-list__after-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work__container, .team__container, .clients__container {
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.work__title, .clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.work-list, .team-list {
  display: flex;
}

.work-list__item {
  margin-right: 30px;
}

.work-list__wrap {
  position: relative;
  overflow: hidden;
}

.work-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.work-list__item:hover .work-list__text {
  transform: translateY(0);
}

.team {
  background-color: var(--team-color);
}

.team-list__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top-style: none;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__border {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.employees__title, .employees__text {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.employees__text {
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team-social, .footer-social {
  display: flex;
  justify-content: center;
}

.team-social__item + .team-social__item, .footer-social__item + .team-social__item, .team-social__item + .footer-social__item, .footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.team-social__link, .footer-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  justify-content: center;
  border-radius: 50%;
  color: var(--icon-fill);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.team-social__link:hover, .footer-social__link:hover, .team-social__link:focus, .footer-social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team-social__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-fill);
  transition: border-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
  fill: currentColor;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer {
  background-color: var(--hero-color);
}

.footer__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container-left,
.footer__container-right,
.footer__container-end {
  align-self: baseline;
}

.footer__container-left {
  flex-grow: 1;
}

.footer__container-right {
  padding-left: 70px;
}

.footer__container-end {
  padding-left: 93px;
}

.footer-contact {
  list-style-type: none;
  font-style: normal;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contact__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social__link {
  background-color: rgba(248, 248, 248, 0.1);
  color: var(--primary-white-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

.footer__form-subscribe {
  justify-content: space-between;
}

.footer__form-online {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 15px;
  margin-right: 12px;
  color: var(--primary-white-color);
}

.footer__form-online::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__icon {
  margin-left: 10px;
}

.filter__container {
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__container {
  padding-bottom: var(--section-padding);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-list__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-list__item:hover .portfolio-list__text {
  transform: translateY(0);
}

.img-name {
  padding: 20px 24px;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio__after-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */