.clients-container {
  @extend .work-container;
}
.clients-title {
  @extend .work-title;
}
.clients-icon-list {
  display: flex;
  justify-content: space-between;
}
.clients-icon-item {
  & + & {
    margin-left: 30px;
  }
}
.clients-icon-link {
  @extend %align-list;
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-fill);
  transition: border-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  fill: currentColor;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
