.logo-1 {
  color: var(--accent-color);
}
.header-logo {
  @include font-logo;
  margin-right: 93px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}
.header-logo-2 {
  color: var(--title-text-color);
}
.footer-logo {
  @extend .header-logo;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo-2 {
  color: var(--primary-white-color);
}
